<div class="rosterChip">
    <mat-chip-list aria-label="Fish selection">
        <mat-chip color="primary" selected *ngIf="data.tags.Tag1!=null">{{data.tags.Tag1}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag2!=null">{{data.tags.Tag2}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag3!=null">{{data.tags.Tag3}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag4!=null">{{data.tags.Tag4}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag5!=null">{{data.tags.Tag5}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag6!=null">{{data.tags.Tag6}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag7!=null">{{data.tags.Tag7}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag8!=null">{{data.tags.Tag8}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag9!=null">{{data.tags.Tag9}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag10!=null">{{data.tags.Tag10}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag11!=null">{{data.tags.Tag11}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag12!=null">{{data.tags.Tag12}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag13!=null">{{data.tags.Tag13}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag14!=null">{{data.tags.Tag14}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag15!=null">{{data.tags.Tag15}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag16!=null">{{data.tags.Tag16}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag17!=null">{{data.tags.Tag17}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag18!=null">{{data.tags.Tag18}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag19!=null">{{data.tags.Tag19}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag20!=null">{{data.tags.Tag20}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag21!=null">{{data.tags.Tag21}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag22!=null">{{data.tags.Tag22}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag23!=null">{{data.tags.Tag23}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag24!=null">{{data.tags.Tag24}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag25!=null">{{data.tags.Tag25}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag26!=null">{{data.tags.Tag26}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag27!=null">{{data.tags.Tag27}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag28!=null">{{data.tags.Tag28}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag29!=null">{{data.tags.Tag29}}</mat-chip>
        <mat-chip color="primary" selected *ngIf="data.tags.Tag30!=null">{{data.tags.Tag30}}</mat-chip>
    </mat-chip-list>
</div>